<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil bearbeiten</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    .profile-image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid #fff;
        box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    }
    </style>
</head>
<body>
    <div class="container mt-3">
        <h1>Profil bearbeiten</h1>
        <form action="/profil/aktualisieren" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}"> <!-- CSRF Token -->
            <div class="mb-3">
                <label for="username">Benutzername:</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ user.username || '' }}">
            </div>
            <div class="mb-3">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ user.email || '' }}">
            </div>
            <div class="mb-3">
                <label for="password">Neues Passwort:</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password" value="{{ user.password || '' }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" onclick="togglePasswordVisibility()">
                            <i id="toggleEye" class="far fa-eye"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="profileImage">Profilbild ändern:</label>
                <input type="file" class="form-control" id="profileImage" name="profileImage" accept="image/*">
            </div>
              <!-- Checkbox zum Entfernen des Profilbilds -->
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="removeProfileImage" name="removeProfileImage">
                <label class="form-check-label" for="removeProfileImage">
                    Profilbild entfernen
                </label>
            </div>

            <!-- Button group for alignment -->
            <div class="btn-group" role="group">
            <!-- Zurück Button -->
            <a href="/profil/ansicht" class="btn btn-primary mr-2 rounded">Zurück</a>

            <!-- Space between buttons -->
            <div style="width: 10px;"></div> <!-- Kleiner Zwischenraum zwischen den Buttons -->

            <!-- Speichern Button -->
            <button type="submit" class="btn btn-success rounded">Speichern</button>
            </div>
        </form>
    </div>
    <!-- Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById('password');
            var toggleEyeIcon = document.getElementById('toggleEye');
            
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                toggleEyeIcon.classList.remove('fa-eye');
                toggleEyeIcon.classList.add('fa-eye-slash'); // wechselt das Icon zu einem durchgestrichenen Auge
            } else {
                passwordInput.type = 'password';
                toggleEyeIcon.classList.remove('fa-eye-slash');
                toggleEyeIcon.classList.add('fa-eye'); // wechselt das Icon zurück zu einem Auge
            }
        }
        </script>
</body>
</html>
